name: Terraform Apply

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "1.9.7"

      - name: Terraform Init
        id: init
        run: terraform init
        env:
          TF_VAR_github_organization: ${{ secrets.ORG_GITHUB_NAME }}
          TF_VAR_github_token: ${{ secrets.ORG_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform Validate
        id: validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
        env:
          TF_VAR_github_organization: ${{ secrets.ORG_GITHUB_NAME }}
          TF_VAR_github_token: ${{ secrets.ORG_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve
        env:
          TF_VAR_github_organization: ${{ secrets.ORG_GITHUB_NAME }}
          TF_VAR_github_token: ${{ secrets.ORG_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}